@footer-height: 50px;
.footer {
    height: @footer-height;
    :global(.ant-pro-global-footer-links) {
        margin-bottom: 0;
    }
    :global(.ant-pro-global-footer) {
        height: @footer-height;
        margin: 0;
        line-height: @footer-height;
    }
}